<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/The_Potters_House_Bloemfontein_Web_App.styles.css" asp-append-version="true" />

    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/images/The Potters House Bloemfontein Logo.png">
</head>
<body>
    <header>
        <div class="ministries-header-background">
            <div class="ministries-header-overlay">
                <nav class="website-header">
                    <div class="website-header-image">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/WELCOME TO THE POTTERS HOUSE BLOEMFONTEIN 2.png" /></a>
                    </div>
                    <div class="menu-icon" onclick="toggleDrawer()">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="website-header-links">
                        <a asp-controller="Home" asp-action="About" onclick="setActive(this)">About Us</a>
                        <a asp-controller="Home" asp-action="Events" onclick="setActive(this)">Events</a>
                        <a asp-controller="Home" asp-action="Ministries" onclick="setActive(this)">Ministries</a>
                        <a asp-controller="Home" asp-action="Giving" onclick="setActive(this)">Giving</a>
                    </div>
                </nav>
                <nav class="ministries-sidebar-drawer">
                    <div class="sidebar-drawer-links">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/the potters house bloemfontein logo 2.png" /></a>
                        <a asp-controller="Home" asp-action="About" onclick="setActive(this)">About Us</a>
                        <a asp-controller="Home" asp-action="Events" onclick="setActive(this)">Events</a>
                        <a asp-controller="Home" asp-action="Ministries" onclick="setActive(this)">Ministries</a>
                        <a asp-controller="Home" asp-action="Giving" onclick="setActive(this)">Giving</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <div class="ministries-footer-background">
        <div class="ministries-footer-overlay">
            <footer class="website-footer">
                <div class="text-center footer-container">
                    <div class="footer-details">
                        <p>The Potters House Christian Fellowship</p>
                        <p>16 Loop Street, Hilton | Next to Econo Foods</p>
                        <p>&copy; 2024 - The Potters House Bloemfontein</p>
                    </div>

                    <div class="footer-links">
                        <a asp-controller="Home" asp-action="Contact" onclick="setActive(this)">Contact Us</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/headerlinksclick.js"></script>
    <script src="~/js/scrollbutton.js"></script>
    <script src="~/js/drawer.js"></script>
    <script src="~/js/animatedscroll.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>