@{
    ViewData["Title"] = "About Us - The Potters House Church Bloemfontein";
}

<div class="text-center body-padding container">
    <div class="our-leadership">
        <div class="our-leadership-title hidden">
            Our Leadership
        </div>
        <div class="leadership1">
            <!-- Main Leadership -->
            <div class="main-leadership1 hidden">
                <div class="leadership1-content">
                    <div>
                        <img src="~/images/leadership 1.jpg" />
                    </div>
                    <div class="leadership1-content-name">
                        Pastor Fabian and Rochelle Esterhuizen
                    </div>
                    <div class="leadership1-content-church">
                        Bloemfontein
                    </div>
                </div>
            </div>
        </div>
        <div class="leadership2">
            <!-- Leadership 1 -->
            <div class="main-leadership2 hidden">
                <div class="leadership1-content">
                    <div>
                        <img src="~/images/leadership 2.jpg" />
                    </div>
                    <div class="leadership1-content-name">
                        Pastor Greg and Lisa Mitchell
                    </div>
                    <div class="leadership1-content-church">
                        Prescott
                    </div>
                </div>
            </div>
            <!-- Leadership 2 -->
            <div class="main-leadership2 hidden">
                <div class="leadership1-content">
                    <div>
                        <img src="~/images/leadership 3.jpg" />
                    </div>
                    <div class="leadership1-content-name">
                        Pastor David and Louis Kennedy
                    </div>
                    <div class="leadership1-content-church">
                        Southend
                    </div>
                </div>
            </div>
            <!-- Leadership 3 -->
            <div class="main-leadership2 hidden">
                <div class="leadership1-content">
                    <div>
                        <img src="~/images/leadership 4.jpg" />
                    </div>
                    <div class="leadership1-content-name">
                        Pastor Nigel and Carol Brown
                    </div>
                    <div class="leadership1-content-church">
                        Waltham Forest
                    </div>
                </div>
            </div>
            <!-- Leadership 4 -->
            <div class="main-leadership2 hidden">
                <div class="leadership1-content">
                    <div>
                        <img src="~/images/leadership 5.jpg" />
                    </div>
                    <div class="leadership1-content-name">
                        Pastor Jonathan and Rachel Heimberg
                    </div>
                    <div class="leadership1-content-church">
                        Eldorado Park
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="main-what-we-belive hidden">
        <div class="what-we-belive-content">
            <div class="what-we-belive-content-title">
                What We Believe
            </div>
            <div class="what-we-belive-content-body hidden">
                Jesus Christ is the Son of the Living God and the only Saviour from sin.<br />
                Jesus Christ is the Healer of the body through the shed Blood of Jesus Christ.<br />
                Jesus Christ is the Baptiser with the Holy Spirit.<br />
                Jesus Christ is the Soon Coming King.<br />
                Jesus Christ is the same yesterday, today and forever.
            </div>
        </div>
    </div>
</div>

<div class="text-center body-padding container">
    <div class="our-vision">
        <div class="our-vision-title hidden">
            Our Vision
        </div>
        <div class="visions">
            <!-- Vision 1 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 1.png" />
                    </div>
                    <div class="vision-content-title">
                        1. Evangelism
                    </div>
                    <div class="vision-content-body">
                        We emphasize sharing the Good News of Jesus through personal evangelism and a large variety of outreaches.
                    </div>
                </div>
            </div>
            <!-- Vision 2 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 2.png" />
                    </div>
                    <div class="vision-content-title">
                        2. Conversion
                    </div>
                    <div class="vision-content-body">
                        We witness, testify and preach for a decision because the Gospel has the power to save and transform lives.
                    </div>
                </div>
            </div>
            <!-- Vision 3 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 3.png" />
                    </div>
                    <div class="vision-content-title">
                        3. The Local Church
                    </div>
                    <div class="vision-content-body">
                        God’s will is accomplished in us and through us as we connect and commit ourselves to a local church.
                    </div>
                </div>
            </div>
            <!-- Vision 4 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 4.png" />
                    </div>
                    <div class="vision-content-title">
                        4. Discipleship
                    </div>
                    <div class="vision-content-body">
                        The highest calling of a Pastor and church is to obey God’s calling to make disciples in all the nations
                    </div>
                </div>
            </div>
            <!-- Vision 5 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 5.png" />
                    </div>
                    <div class="vision-content-title">
                        5. Church Planting
                    </div>
                    <div class="vision-content-body">
                        Disciples are raised up so that they can be released into surrounding cities and countries to reproduce our vision.
                    </div>
                </div>
            </div>
            <!-- Vision 6 -->
            <div class="main-visions hidden">
                <div class="vision-content">
                    <div>
                        <img src="~/images/church vision image 6.png" />
                    </div>
                    <div class="vision-content-title">
                        6. World Evangelism
                    </div>
                    <div class="vision-content-body">
                        Our job as believers and thechurch is to pray, train, invest, send and support workers to go into all the world!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
