@{
    ViewData["Title"] = "Church Transport - The Potters House Church Bloemfontein";
}

<div class="text-center body-padding container">
    <div class="our-church-transport">
        <div class="our-church-transport-title hidden">Our Church Transpost</div>
        <div class="our-church-transport-body hidden">Click <a href="https://chat.whatsapp.com/HNj7NrSfvE5LiD0jNocGoI" target="_blank">here</a> or scan the QR Code to join the Church Transport!</div>
        <div class="church-transport">
            <div class="main-church-transport hidden">
                <div class="church-transport-content">
                    <div>
                        <img src="~/images/church transport qr code.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>