@{
    ViewData["Title"] = "Church Channel - The Potters House Bloemfontein";
}

<div class="text-center body-padding container">
    <div class="our-church-channel">
        <div class="our-church-channel-title hidden">Our Church Channel</div>
        <div class="our-church-channel-body hidden">Click <a href="https://whatsapp.com/channel/0029VafdGeD7DAX59ZjyL03m" target="_blank">here</a> or scan the QR Code to join the Church Channel!</div>
        <div class="church-channel">
            <div class="main-church-channel hidden">
                <div class="church-channel-content">
                    <div>
                        <img src="~/images/church channel qr code.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>