@{
    ViewData["Title"] = "Contact Us - The Potters House Church Bloemfontein";
}

<div class="text-center body-padding container">
    <div class="our-contact-us">
        <div class="our-contact-us-title hidden">
            Contact Us
        </div>
        <div class="contact-leadership1">
            <!-- Main Leadership -->
            <div class="main-contact-leadership1 hidden">
                <div class="contact-leadership1-content">
                    <div>
                        <img src="~/images/leadership 1.jpg" />
                    </div>
                    <div class="contact-leadership1-content-name">
                        Pastor Fabian and Rochelle Esterhuizen
                    </div>
                    <div class="contact-leadership1-content-details">
                        082 490 4465
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center contact-header hidden">
    <div class="contact-background">
        <div class="contact-overlay">
            <div>
                We would like to hear from you.
            </div>
        </div>
    </div>
</div>

<div class="text-center body-padding container">
    <div class="our-contact-us-title hidden">
        Join Our WhatsApp Groups and Channel
    </div>
    <div class="whatsapp">
        <!-- Ministry 1 -->
        <div class="main-whatsapp hidden">
            <div class="whatsapp-content">
                <img src="~/images/Church Transport.png" />
                <div class="whatsapp-content-image-overlay"></div>
                <div class="whatsapp-content-text-overlay"><a asp-controller="Home" asp-action="ChurchTransport">Church Transport Group</a></div>
            </div>
        </div>
        <!-- Ministry 2 -->
        <div class="main-whatsapp hidden">
            <div class="whatsapp-content">
                <img src="~/images/Church Channel.png" />
                <div class="whatsapp-content-image-overlay"></div>
                <div class="whatsapp-content-text-overlay"><a asp-controller="Home" asp-action="ChurchChannel">Church Channel</a></div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
