@{
    ViewData["Title"] = "Events - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}
<div class="text-center body-padding container">
    <div class="our-events">
        <div class="our-events-title hidden">
            Our Events
        </div>
        <div class="events">
            <!-- Event 1 -->
            <div class="main-events hidden">
                <div class="events-content">
                    <div >
                        <img src="~/images/Revival Services by Pastor Kennedy.png" />
                    </div>
                    <div class="events-content-title">
                        Revival Meeting
                    </div>
                    <div class="events-content-body">
                        Join Us in our upcoming Revival Meeting
                    </div>
                </div>
            </div>
            <!-- Event 2 -->
            <div class="main-events hidden">
                <div class="events-content">
                    <div>
                        <img src="~/images/Impact Team.png" />
                    </div>
                    <div class="events-content-title">
                        Impact Team
                    </div>
                    <div class="events-content-body">
                        Join Us in our upcoming Impact Team
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
