@{
    ViewData["Title"] = "Events - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}
<div class="text-center body-padding container">
    <div class="our-events">
        <div class="our-events-title hidden">
            Our Events
        </div>
        <div class="events">
            <!-- Event 1 -->
            <div class="main-events hidden">
                <div class="events-content">
                    <div >
                        <img src="~/images/christmas musical.png" />
                    </div>
                    <div class="events-content-title">
                        Christmas Musical
                    </div>
                    <div class="events-content-body">
                        Join Us in our Christmas Musical
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>
