@{
    ViewData["Title"] = "Giving - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_GivingLayout.cshtml";
}
<div class="text-center body-padding container">
    <div class="our-giving">
        <div class="our-giving-title">GIVING</div>
        <div class="our-giving-body">Your generosity is changing the world!</div>
        <div class="giving">
            <div class="main-giving">
                <div class="giving-content">
                    <div>
                        <img src="~/images/Tithes & Offerings.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>
