@{
    ViewData["Title"] = "Homecell - The Potters House Church Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-homecell">
        <div class="our-homecells-title hidden">
            Our Homecells
        </div>
        <div class="our-homecells-body hidden">
            We have homecells in different locations.
        </div>
    </div>

    <div class="homecells">
        <!-- Homecell 1 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 1.png" />
            </div>
        </div>
        <!-- Homecell 2 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 2.png" />
            </div>
        </div>
        <!-- Homecell 3 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 3.png" />
            </div>
        </div>
        <!-- Homecell 4 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 4.png" />
            </div>
        </div>
        <!-- Homecell 5 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 5.png" />
            </div>
        </div>
        <!-- Homecell 6 -->
        <div class="main-homecells hidden">
            <div class="homecells-content">
                <img src="~/images/homecell 6.png" />
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>