@{
    ViewData["Title"] = "The Potters House Church Bloemfontein";
}

<div class="text-center body-padding container">
    <div class="our-services">
        <div class="our-services-title hidden">Where Jesus is Still Changing LIVES!</div>
        <div class="our-services-body hidden">
            We Have <strong>Midweek</strong><br />
            And <strong>Sunday</strong> Services
        </div>
        <div id="carouselExampleControls1" class="carousel slide hidden" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/Church Service 1.png" alt="First slide">
                    <div class="hover-overlay">
                        <div class="overlay-content"><a asp-controller="Home" asp-action="Contact">PLAN A VISIT</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/images/Church Service 2.png" alt="Second slide">
                    <div class="hover-overlay">
                        <div class="overlay-content"><a asp-controller="Home" asp-action="Contact">PLAN A VISIT</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/images/Church Service 3.png" alt="Third slide">
                    <div class="hover-overlay">
                        <div class="overlay-content"><a asp-controller="Home" asp-action="Contact">PLAN A VISIT</a></div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="text-center container map-text-title hidden">Our Location</div>

<div class="text-center map-padding hidden">
    <div id="map">
    </div>
</div>

<div class="text-center container prayer-text-title hidden">Join Us in Prayer</div>

<div class="text-center body-padding container hidden">
    <div class="our-services">
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/Prayer 1.png" alt="First slide">
                    <div class="hover-overlay">
                        <div class="overlay-content"><a asp-controller="Home" asp-action="Contact">PLAN A VISIT</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/images/Prayer 2.png" alt="Second slide">
                    <div class="hover-overlay">
                        <div class="overlay-content"><a asp-controller="Home" asp-action="Contact">PLAN A VISIT</a></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="index-pictures">
        <!-- Content 1 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 4.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 2 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 1.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 3 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 3.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 4 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 13.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 5 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 5.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 6 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 6.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 7 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 15.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 8 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 8.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 9 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 9.jpg" />
                </div>
            </div>
        </div>
        <!-- Content 10 -->
        <div class="main-index-pictures hidden">
            <div class="index-pictures-content">
                <div>
                    <img src="~/images/pictures 14.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>