@{
    ViewData["Title"] = "Ministries - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-ministries">
        <div class="our-ministries-title hidden">
            Our Ministries
        </div>
        <div class="our-ministries-body hidden">
            Explore our ministries. Find ways you and your family can grow and make impact.
        </div>

        <div class="ministries">
            <!-- Ministry 1 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church homecell.png" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="Homecell" >Homecell</a></div>
                </div>
            </div>
            <!-- Ministry 2 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church praise & worship.png" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="PraiseAndWorship" >Praise & Worship</a></div>
                </div>
            </div>
            <!-- Ministry 3 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church ushers.jpg" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="Ushers" >Ushers</a></div>
                </div>
            </div>
            <!-- Ministry 4 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church sound & media.jpg" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="SoundAndMedia">Sound & Media</a></div>
                </div>
            </div>
            <!-- Ministry 5 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church sunday school.jpg" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="SundaySchool">Sunday School</a></div>
                </div>
            </div>
            <!-- Ministry 6 -->
            <div class="main-ministries hidden">
                <div class="ministries-content">
                    <img src="~/images/church outreach.jpg" />
                    <div class="ministries-content-image-overlay"></div>
                    <div class="ministries-content-text-overlay"><a asp-controller="Home" asp-action="Outreach">Outreach</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>
