@{
    ViewData["Title"] = "Outreach - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-outreach">
        <div class="our-outreach-title">
            Our Outreaches
        </div>
        <div class="outreach">
            <!-- Outreach 1 -->
            <div class="main-outreach">
                <div class="outreach-content">
                    <div>
                        <img src="~/images/outreach flyer 1.png" />
                    </div>
                    <div class="outreach-content-title">
                        Homecell Outreach
                    </div>
                    <div class="outreach-content-body">
                        Join Us for our Homecell Outreach
                    </div>
                </div>
            </div>
            <!-- Outreach 1 -->
            <div class="main-outreach">
                <div class="outreach-content">
                    <div>
                        <img src="~/images/outreach flyer 2.png" />
                    </div>
                    <div class="outreach-content-title">
                        Corporate Outreach
                    </div>
                    <div class="outreach-content-body">
                        Join Us for our Corporate Outreach
                    </div>
                </div>
            </div>
        </div>
        <div class="outreach-note">
            Kindly follow our <a href="https://whatsapp.com/channel/0029VafdGeD7DAX59ZjyL03m" >church channel</a> or contact 082 490 4465 for more information regarding the outreach!
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>