@{
    ViewData["Title"] = "Praise & Worship - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-band-pratice">
        <div class="our-band-pratice-title hidden">Band Practice</div>
        <div class="our-band-pratice-body hidden">Learn an instrument or sing to be part of the praise and worship!</div>
        <div class="band-pratice">
            <div class="main-band-pratice hidden">
                <div class="band-pratice-content">
                    <div>
                        <img src="~/images/band practice.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>