@{
    ViewData["Title"] = "Our Privacy Policy - The Potters House Church Bloemfontein";
}

<div class="text-center body-padding container">
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
