@{
    ViewData["Title"] = "Our Privacy Policy - The Potters House Bloemfontein";
}

<div class="text-center body-padding container">
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>
