@{
    ViewData["Title"] = "Sound & Media - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-sound-and-media">
        <div class="our-sound-and-media-title hidden">Sound & Media</div>
        <div class="our-sound-and-media-body hidden">Be a part of our Sound & Media team now!</div>
        <div class="sound-and-media">
            <div class="main-sound-and-media hidden">
                <div class="sound-and-media-content">
                    <div>
                        <img src="~/images/sound & media.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>