@{
    ViewData["Title"] = "School Sunday - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-sunday-school">
        <div class="our-sunday-school-title hidden">Sunday School</div>
        <div class="our-sunday-school-body hidden">We have Sunday School for your children!</div>
        <div class="sunday-school">
            <div class="main-sunday-school hidden">
                <div class="sunday-school-content">
                    <div>
                        <img src="~/images/sunday school.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>