@{
    ViewData["Title"] = "Ushers - The Potters House Bloemfontein";
    Layout = "~/Views/Shared/_MinistriesLayout.cshtml";
}

<div class="text-center body-padding container">
    <div class="our-ushers">
        <div class="our-ushers-title">Ushers</div>
        <div class="our-ushers-body">Be a part of the church ushers now!</div>
        <div class="ushers">
            <div class="main-ushers">
                <div class="ushers-content">
                    <div>
                        <img src="~/images/ushers.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="scrollToTop()" id="scrollTopBtn" title="Go to top">↑</button>